<div class="header">
    <div class="container">
        <div (click)=home() class="logo">
            <h1>SoDiNe</h1>
        </div>
        <div class="header-buttons">
            <span *ngIf="loginName">{{loginName}}</span>
            <button mat-flat-button id="settings" (click)=settings()>Settings</button>
            <button mat-flat-button *ngIf="loginName" id="logout" (click)=logout()>Logout</button>
            <button mat-flat-button *ngIf="!loginName" id="login" (click)=login()>Login</button>
        </div>
    </div> 
</div>
