<div>
    <h1>Verander wachtwoord</h1>
    <label [(ngModel)]="message"></label>
    <div id="password">
        <label for="oldPassword">Huidig wachtwoord</label><input [(ngModel)]="oldPassword" type="password">
        <label for="newPassword">Nieuw wachtwoord</label><input  [(ngModel)]="newPassword" type="password">
        <label for="newPassword2">Herhaal nieuw wachtwoord</label><input [(ngModel)]="newPassword2" type="password">
        <button type="submit" (click)=changePassword()>Verzend</button>
    </div>
</div>  