div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    table {
        margin: 16px;
        border-collapse: collapse;
        background-color: white;
        
    }
}

p {
    margin: 8px;
}

td {
    padding: 0;
    border: 1px solid black;
}