.hompage{
    margin-top: 20px;
    .container{
        text-align:center;
        .mat-flat-button{
            background-color:#6FB98F;
            color: white;
            font-size: 14px;
            margin-left: 5px;
            margin-right: 5px;
            display: inline-block;
        }
        .mat-flat-button:hover{
            background-color: #609676;
        }
    }
}