<div class="hompage">
    <div class="meldingen"> <button mat-flat-button matBadge="5" matBadgePosition="before" matBadgeColor="warn" matBadgeSize="medium">Meldingen</button></div>
    <div class = "coronapng">
        <img src="/assets/Corona.png" height="200px" width="200px">
        <div class="coronascore">15%</div>
    </div>
    <div class="Personal details"></div>
    <div class="container">
        <button mat-flat-button (click)="btnClick();">Ik heb Corona</button>
        <button mat-flat-button color="primary">Overzicht contactmomenten</button>
        <button mat-flat-button color="primary">Overzicht huisgenoten</button>
    </div>
</div>
